/* Estilos para el título de la página */
h1 {
    text-align: center;
    font-size: 32px;
    color: #FF5733; /* Color naranja representativo de Spiderman */
    margin-bottom: 20px;
    margin-top: 40px; /* Ajuste del margen superior para separar el título de la lista de películas */
}

body {
    background-color: #000000; /* Fondo oscuro */
    color: #FFF; /* Texto blanco */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #ffffff;
}

/* Estilos para la lista de películas */
#movies-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Espacio entre el título y la lista de películas */
}

#movies-list li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

#movies-list li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.movie-title {
    font-weight: bold;
    color: #000000;
}

.movie-details {
    color: #ffffff;
}

/* Estilos para el contenedor de la lista de películas */
#movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas flexibles */
    gap: 20px; /* Espacio entre las películas */
}

/* Estilos para cada película */
.movie {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
}

/* Estilos para las imágenes de las películas */
.movie img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el título de la película */
.movie h2 {
    margin-bottom: 10px;
}

/* Estilos para el año de la película */
.movie p {
    margin-bottom: 5px;
}

/* Estilos para la sinopsis de la película */
.movie p.synopsis {
    font-style: italic;
    color: #ffffff;
}
